doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='icon' href='/public/favicon.ico')
  link(rel='stylesheet' href='/public/global.css')
  script(src='https://js.stripe.com/v3/')
  title= title
body
  .container
    .row
      .col-md-8.offset-md-2.mt-5
        .card
          .card-header
            | Team FGWalet KL | #{nama_agent}
          .card-body
            if sudah_bayar
              h5.card-title
                .alert.alert-success(role='alert') Terima Kasih atas bayaran anda
              p.card-text Tarikh bayaran dibuat: #{tarikh_bayaran}
            else
              h5.card-title Sila buat bayaran untuk:
            p.card-text= keterangan
            p.card-text Harga: RM #{harga}
            p.card-text Nama: #{nama}
            p.card-text No telefon: #{no_telefon}
            if !sudah_bayar
              .card
                .card-header
                  h4 Bayar guna Online Banking - FPX
                  .card-body
                    p.card-text Sila buat pilihan dan tekan 'Teruskan'
                      form(method='post')
                        .form-group
                          label(for='bank') Pilih Bank:
                          select#bank.form-control(name='bank')
                            option(value='') ...
                            option(value='MB2U0227') Maybank2u
                            option(value='BCBB0235') CIMB Clicks
                            option(value='PBB0233') Public Bank
                            option(value='AMBB0209') AMBank
                            option(value='RHB0218') RHB
                            option(value='HLB0224') HONG LEONG Bank
                            option(value='BIMB0340') Bank Islam
                            option(value='BKRM0602') Bank Rakyat
                            option(value='UOB0226') UOB
                            option(value='ABMB0212') ALLIANCE Bank
                            option(value='ABB0233') AFFIN Bank
                            option(value='OCBC0229') OCBC
                            option(value='HSBC0223') HSBC
                            option(value='CIT0217') Citibank
                            option(value='SCB0216') Standard Chartered
                        button.btn.btn-primary(type='submit') Teruskan
              .card.mt-5
                .card-header
                  h4 Bayar guna Kad Kredit - Stripe
                  .card-body
                    form#payment-form
                      #card-element
                      button#submit.ccsubmitbutton
                        #spinner.spinner.hidden
                        span#button-text Bayar
                      p#card-errors(role='alert')
                      p.result-message.hidden
                        | Pembayaran anda Berjaya!
            p.card-text
              hr
              span.badge.badge-secondary Diuruskan oleh ISHA FIZ ENTERPRISE (002575430W)
            
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
script.
  var stripe = Stripe("#{stripe_public_key}");
  // The items the customer wants to buy
  var purchase = {
  id: "#{bayar_id}"
  };
  // Disable the button until we have Stripe set up on the page
  document.querySelector(".ccsubmitbutton").disabled = true;
  fetch("./create-payment-intent", {
  method: "POST",
  headers: {
  "Content-Type": "application/json"
  },
  body: JSON.stringify(purchase)
  })
  .then(function(result) {
  return result.json();
  })
  .then(function(data) {
  var elements = stripe.elements();
  var style = {
  base: {
  color: "#32325d",
  fontFamily: 'Arial, sans-serif',
  fontSmoothing: "antialiased",
  fontSize: "16px",
  "::placeholder": {
  color: "#32325d"
  }
  },
  invalid: {
  fontFamily: 'Arial, sans-serif',
  color: "#fa755a",
  iconColor: "#fa755a"
  }
  };
  var card = elements.create("card", { style: style });
  // Stripe injects an iframe into the DOM
  card.mount("#card-element");
  card.on("change", function (event) {
  // Disable the Pay button if there are no card details in the Element
  document.querySelector(".ccsubmitbutton").disabled = event.empty;
  document.querySelector("#card-errors").textContent = event.error ? event.error.message : "";
  });
  var form = document.getElementById("payment-form");
  form.addEventListener("submit", function(event) {
  event.preventDefault();
  // Complete payment when the submit button is clicked
  payWithCard(stripe, card, data.clientSecret);
  });
  });
  // Calls stripe.confirmCardPayment
  // If the card requires authentication Stripe shows a pop-up modal to
  // prompt the user to enter authentication details without leaving your page.
  var payWithCard = function(stripe, card, clientSecret) {
  loading(true);
  stripe
  .confirmCardPayment(clientSecret, {
  payment_method: {
  card: card
  }
  })
  .then(function(result) {
  if (result.error) {
  // Show error to your customer
  showError(result.error.message);
  } else {
  // The payment succeeded!
  orderComplete(result.paymentIntent.id);
  }
  });
  };
  /* ------- UI helpers ------- */
  // Shows a success message when the payment is complete
  var orderComplete = function(paymentIntentId) {
  loading(false);
  document.querySelector(".result-message").classList.remove("hidden");
  document.querySelector(".ccsubmitbutton").disabled = true;
  };
  // Show the customer the error from Stripe if their card fails to charge
  var showError = function(errorMsgText) {
  loading(false);
  var errorMsg = document.querySelector("#card-errors");
  errorMsg.textContent = errorMsgText;
  setTimeout(function() {
  errorMsg.textContent = "";
  }, 4000);
  };
  // Show a spinner on payment submission
  var loading = function(isLoading) {
  if (isLoading) {
  // Disable the button and show a spinner
  document.querySelector(".ccsubmitbutton").disabled = true;
  document.querySelector("#spinner").classList.remove("hidden");
  document.querySelector("#button-text").classList.add("hidden");
  } else {
  document.querySelector(".ccsubmitbutton").disabled = false;
  document.querySelector("#spinner").classList.add("hidden");
  document.querySelector("#button-text").classList.remove("hidden");
  }
  };
